@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

@font-face {
  font-family: nintendoDS;
  src: url(Nintendo-DS-BIOS.ttf);
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #352F44;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}

:root {
  --line-height: 1.5;
  --font-weight: 400;
  --selection-color: rgba(73, 62, 62, 0.5);
}

body {
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  color: var(--heading-color);
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  transition: background-color 0.5s, color 0.5s;
}

.dark-theme {
  --background-color: #352F44;
  --background-color-darker: rgba(54, 48, 69, 50%);
  --heading-color: #FAF0E6;
  --summary-color: #ffffe0;
  --link-color: rgb(192, 170, 255);
  --link-color-hover: rgba(0, 0, 0, 50%);
  --card-color: rgba(0, 0, 0, 50%);
  --hover-color: rgb(192, 170, 255);
  --text-color: var(--heading-color);
}

.light-theme {
  --background-color: #ffffff;
  --background-color-darker: #f3f3f3;
  --heading-color: #000000;
  --summary-color: #0e0e0e;
  --link-color: #9b3eff;
  --link-color-hover: #5700b4;
  --card-color: #fff;
  --hover-color: rgb(65, 0, 134);
  --text-color: var(--heading-color);
}

.theme-toggler {
  display: flex;
  position: absolute;
  right: 0;
  padding-inline: 2%;
}

body {
  font-family: 'NTR', sans-serif;


}

.pixel-font {
  font-family: nintendoDS !important;
  font-size: 1.15rem;
}

.section h1 {
  font-family: nintendoDS !important;
  font-size: 2em;
}



::selection {
  background: var(--selection-color);
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  place-items: center;

}

#content {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

.name {
  color: var(--link-color);
}


.section {
  flex-direction: column;
  align-items: flex-start;
  padding-inline: 15%;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15%;
  padding-top: 20vh;
  min-height: 100vh;
  padding-bottom: 0;
}

.introTitle {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--heading-color);
}

.introBio {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  margin-top: -80px;
  color: var(--heading-color);
}

.introText {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
  margin-top: -50px;
  color: var(--summary-color);
}

.icon {
  padding-right: 15px;
  text-decoration: none;
  color: var(--icon-color);
}

.icon:hover {
  color: var(--link-color);
  cursor: pointer;
  transition: 0.3s;
}

.scrollicon {
  padding-top: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Optional: Set width and height for the container */
  width: 80%;

}


#about {
  min-height: 30vh;
  margin-top: -20vh;
  max-height: 100vh;
  width: 40%;
}

.section#education {
  min-height: 30vh;
  max-height: 100vh;
}

.flair {
  font-size: 0.8em;
  display: inline-block;
  background-color: var(--link-color-hover);
  border-radius: 50px;
  padding: 5px 10px;
  margin-bottom: 10px;


  color: white;
}

.education-container-flex {
  display: flex;
  align-items: center;
}


.education-container-box {
  margin-bottom: 0.5%;

  border: 1px solid var(--link-color-hover);
  border-radius: 10px;
  width: 40%;
}

.education-container {
  background-color: var(--card-color);
  margin-bottom: 0.5%;
  border: 1px solid var(--link-color-hover);
  border-radius: 10px;
  width: 40%;
  display: flex;
  align-items: center;
}

.education-text-container {
  width: 100%;
  margin-left: 10px;
}

.education-text-bold {
  font-weight: 700;
}

.education-text {
  margin: 0;
  align-self: flex-start;
}

.education-image-container {
  width: 5em;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.education-logo {
  width: 5em;
  object-fit: cover;
  border-radius: 7px 0px 0px 7px;
}








.progress-bar-container {
  width: 40%;
  height: 5px;
  background-color: var(--heading-color);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 0.5%;
}

.progress-bar {
  height: 100%;
  background-color: var(--link-color);
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
}

.section#projects {
  min-height: 50vh;

}

.section#contact {
  padding-top: 10px;

  min-height: 35vh;
  max-height: 100vh;
}


.navigation {
  background: var(--background-color-darker);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  border-bottom: 1px solid var(--hover-color);
}




.navigation-link:hover {
  color: var(--heading-color);
  /* Set the color for the link text when hovered */
}

.navigation-link:not(:last-child)::after {
  content: "/";
  margin: 0 0.5em;
  /* Adjust spacing as needed */
  color: var(--link-color);
  /* Set the color for the forward slash */
}




.footer {
  color: var(--heading-color);
  background-color: var(--background-color-darker);
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

.emailCopy:hover {
  cursor: pointer;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  min-width: 75%;
  justify-content: space-between;
}

.grid-item {
  display: flex;
  /* Add this line */
  flex-direction: column;
  /* Add this line */
  border-radius: 10px;
  max-height: 35em;
  border: 1px solid var(--link-color-hover);
  flex: 0 0 calc(33.33% - 10px);
  margin-bottom: 20px;
  background-color: var(--card-color);
  transition: 0.5s;
  box-sizing: border-box;
}

div.grid-item:hover {
  transition: 0.5s;
  border: 1px solid var(--hover-color);
  box-shadow: rgba(65, 0, 134, 0.1) 0px 4px 6px -1px, rgba(65, 0, 134, 0.06) 0px 2px 4px -1px;
}

.project-footer {
  margin-top: auto;
}

.project-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-inline: 10%;
  padding-block: 5%;
}

.icon-card-container {
  padding-left: 0px;
}

.project-technologies {
  padding-left: 0px;
}

.project-text {
  flex: 1;
  padding-inline: 0px;
  padding-bottom: 20px;
}




.skills-container {
  display: flex;
  flex-wrap: wrap;
}

.skill-item {
  background-color: var(--card-color);
  flex: 0 0 calc(25% - 20px);
  /* Each item takes 25% width minus some margin */
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--link-color);
  border-radius: 5px;
  text-align: center;
}

/* Media query for mobile devices (adjust the breakpoint as needed) */
@media screen and (max-width: 767px) {

  .grid-container {
    max-width: 100%;
  }

  .skills-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

  }

  .skill-item {
    flex-basis: calc(50% - 20px);
    width: 60vw;
    /* Each item takes 50% width minus some margin on mobile */
  }
}



/* Media Query to break into a row at 4 columns */
@media (max-width: 768px) {
  .grid-item {
    flex: 0 0 calc(50% - 10px);
    /* Adjust the width and margin as needed */
  }
}

@media (max-width: 480px) {
  .grid-item {
    width: 100%;
    flex: 0 0 calc(100% - 10px);
    /* Adjust the width and margin as needed */
  }
}


@media (max-width: 1390px) {



  .education-container {
    flex-direction: column;
    width: 25%;
    margin-bottom: 2%;
    margin-top: 2%;
  }

  .education-image-container {
    width: 100%;
    height: auto;
  }

  img.education-logo {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
  }

  .progress-bar-container {
    width: 25%;
  }
}

@media (max-width: 1175px) {
  .grid-item {
    min-width: 30%;
    max-width: 33%;
  }

  .education-container {
    flex-direction: column;
    width: 35%;
    margin-bottom: 2%;
  }

  .education-image-container {
    width: 100%;
    height: auto;
  }

  img.education-logo {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
  }

  .progress-bar-container {
    width: 35%;
  }
}

@media (max-width: 840px) {
  .grid-item {
    max-width: 50%;
  }

  .education-container {
    flex-direction: column;
    width: 50%;
    margin-bottom: 2%;
  }

  .education-image-container {
    width: 100%;
    height: auto;
  }

  img.education-logo {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
  }

  .progress-bar-container {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .grid-item {
    max-width: 100%;
  }

  .education-container {
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2%;
  }

  .education-image-container {
    width: 100%;
    height: auto;
  }

  img.education-logo {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
  }

  #about {
    width: 70%;
  }

  .education-text-container {
    width: 100%;

  }

  .education-text-container h2 {
    font-size: 16px;
  }

  .education-text-container p {
    font-size: 16px;
  }

  .education-text {
    margin: 2%;
    align-self: flex-start;
  }

  .progress-bar-container {

    width: 75%;
    height: 5px;
    background-color: var(--heading-color);
    border-radius: 10px;
    overflow: hidden;
  }

  .progress-bar {
    height: 100%;
    background-color: var(--link-color);
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
  }

  .introBio {
    width: 70%;
  }
}